#container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

#container > div {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
