<div id="container">
  <div id="title">
    <h2><b>Players</b></h2>
    <button mat-mini-fab (click)="closeDrawer()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
  @if(isFetchingPlayers){
  <div>Loading Players...</div>
  } @if (!authService.isAuthenticated()) {
  <div>You are not authenticated!</div>
  } @if(authService.isAuthenticated() && !isFetchingPlayers && (!playerList['players'] || playerList['players'].length < 1)){
  <div>No players saved!</div>
  } @if(playerList['players'] && playerList['players'].length > 0 ) {
  <table>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Attack</th>
      <th>Defense</th>
      <th>Condition</th>
      <th>Action</th>
    </tr>
    @for (player of playerList['players']; track playerList){
    <tr>
      <td>{{player.name}}</td>
      <td>{{player.position}}</td>
      <td>{{player.attackRating}}</td>
      <td>{{player.defenceRating}}</td>
      <td>{{player.conditionRating}}</td>
      <td class="actions">
        <button title="Add Player" mat-mini-fab [disabled]="playersService.isPlayerExist(player.name)" (click)="AddPlayerToPlayers(player)">
          <mat-icon>keyboard_double_arrow_right</mat-icon>
        </button>
        <button title="Delete Player" mat-mini-fab color="warn" (click)="playersService.deletePlayerFromDB(player)">
          <mat-icon>close</mat-icon>
        </button>
      </td>
    </tr>
    }
  </table>
  }
</div>
