.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.pre-generate-player-forms {
  height: 100px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.add-new-form-container {
  height: 100px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.container form {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  flex-direction: row;
  width: 90%;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.results {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 50px;
}

.each-result {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.results-details {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.each-player {
  width: 600px;
  min-width: 30%;
  max-width: 80%;
  flex-basis: 25px;
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.center-content {
  justify-content: center;
}

.each-player b {
  flex-basis: 5%;
}

.each-player .position {
  flex-basis: 30%;
}

.each-player .player-name {
  flex-basis: 35%;
}

.each-player span {
  flex-basis: 10%;
}

.solid {
  margin-top: 20px;
  border-top: 2px solid #bbb;
  width: 100%;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  height: 0px !important;
}
