<div class="container">
  @if (getAsFormArray(playerForms.controls['players']).controls.length < 1) {
  <div class="pre-generate-player-forms">
    <form (submit)="generateFormFields()">
      <mat-form-field appearance="outline">
        <mat-label># of Players</mat-label>
        <input matInput type="number" [(ngModel)]="numOfPlayers" name="something" />
      </mat-form-field>
      <button mat-raised-button color="accent" type="submit" [disabled]="numOfPlayers < 1">
        Create
      </button>
      <button mat-raised-button color="warn" type="button" (click)="test()">Demo</button>
    </form>
  </div>
  } @else {
  <div class="add-new-form-container">
    <span>{{ numOfPlayers }} Players</span>
    <button mat-mini-fab color="accent" (click)="addNewPlayer()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <ng-container [formGroup]="playerForms">
    <ng-container formArrayName="players">
      @for ( form of getAsFormArray(playerForms.controls['players']).controls; track
      getAsFormArray(playerForms.controls['players']).controls ) {
      <form
        [formGroup]="
          getAsFormGroup(
            getAsFormArray(playerForms.controls['players']).controls[$index]
          )
        "
      >
        <mat-form-field>
          <mat-label>Player Name {{ $index + 1 }}</mat-label>
          <input
            appValidateName
            formControlName="name"
            matInput
            type="text"
            (input)="compareNameToDrawer($event, $index)"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Position</mat-label>
          <mat-select formControlName="position">
            @for (position of positions; track positions) {
            <mat-option [value]="position">{{ position }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Attack Rating</mat-label>
          <mat-select formControlName="attackRating">
            @for (rating of ratings; track ratings) {
            <mat-option [value]="rating">{{ rating }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Defence Rating</mat-label>
          <mat-select formControlName="defenceRating">
            @for (rating of ratings; track ratings) {
            <mat-option [value]="rating">{{ rating }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Condition Rating</mat-label>
          <mat-select formControlName="conditionRating">
            @for (rating of ratings; track ratings) {
            <mat-option [value]="rating">{{ rating }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <button mat-mini-fab color="accent" (click)="deletePlayer($index)">
          <mat-icon>close</mat-icon>
        </button>
        @if (!authService.isAuthenticated()) {
        <button
          mat-mini-fab
          color="accent"
          [disabled]="!getAsFormGroup(
          getAsFormArray(playerForms.controls['players']).controls[$index]
        ).valid"
          (click)="openLoginDialog()"
        >
          <mat-icon>save</mat-icon>
        </button>
        } @else { @if(playersService.isDPPlayerExistByIndex($index)){
        <button
          mat-mini-fab
          color="accent"
          [disabled]="!isPlayerStatsChanged($index, getAsFormGroup(
            getAsFormArray(playerForms.controls['players']).controls[$index]
          ).valid)"
          (click)="updatePlayer($index)"
        >
          <mat-icon>save_as</mat-icon>
        </button>
        } @else {
        <button
          mat-mini-fab
          color="accent"
          [disabled]="!getAsFormGroup(
          getAsFormArray(playerForms.controls['players']).controls[$index]
        ).valid"
          (click)="savePlayer($index)"
        >
          <mat-icon>save</mat-icon>
        </button>
        } }
      </form>
      <mat-divider class="dividers"></mat-divider>
      }
    </ng-container>
    <div class="button-container">
      <button
        mat-raised-button
        color="accent"
        (click)="generateTeams()"
        [disabled]="numOfPlayers < 1"
        id="generate"
      >
        Generate
      </button>
      <button mat-raised-button (click)="clean()" [disabled]="numOfPlayers < 1">Clean</button>
      <mat-slide-toggle [(ngModel)]="forcedBalance" [ngModelOptions]="{standalone: true}"
        >Force Balanced Teams</mat-slide-toggle
      >
    </div>
  </ng-container>
  @if (isGenerated) {
  <hr class="solid" />
  <br />
  <mat-slide-toggle [(ngModel)]="hidePlayerRatings">Hide Player Ratings</mat-slide-toggle>
  <h1>Main Teams</h1>
  <div class="results">
    @for (team of getTeams(); track teams) {
    <div class="each-result">
      <h2>{{ team }}</h2>
      <div class="results-details">
        <h4>Attack Rate: {{ getTeam(team).attack }}</h4>
        <h4>Defense Rate: {{ getTeam(team).defense }}</h4>
        <h4>Condition Rate: {{ getTeam(team).condition }}</h4>
        <h4>Total Score: {{ getTeam(team).totalScore.toFixed(2) }}</h4>
      </div>
      @for (player of getTeam(team).squad; track teams; let i = $index) {
      <span class="each-player" [ngClass]="hidePlayerRatings ? 'center-content' : ''">
        <b>{{ i + 1 }}.</b>
        <span class="position">
          {{ getPlayerByName(player).position }}
        </span>
        <span class="player-name">
          {{ player }}
        </span>
        @if (!hidePlayerRatings) {
        <span> A:{{ getPlayerByName(player).attackRating }}</span>
        <span> D:{{ getPlayerByName(player).defenceRating }}</span>
        <span> C:{{ getPlayerByName(player).conditionRating }}</span>
        }
      </span>
      }
    </div>
    }
  </div>
  <hr class="solid" />
  <h1>Alternate Teams</h1>
  <div class="results">
    @for (team of getTeamsAlternate(); track teamsAlternate) {
    <div class="each-result">
      <h2>{{ team }}</h2>
      <div class="results-details">
        <h4>Attack Rate: {{ getTeamAlternate(team).attack }}</h4>
        <h4>Defense Rate: {{ getTeamAlternate(team).defense }}</h4>
        <h4>Condition Rate: {{ getTeamAlternate(team).condition }}</h4>
        <h4>Total Score: {{ getTeamAlternate(team).totalScore.toFixed(2) }}</h4>
      </div>
      @for ( player of getTeamAlternate(team).squad; track teamsAlternate; let i = $index ) {
      <span class="each-player" [ngClass]="hidePlayerRatings ? 'center-content' : ''">
        <b>{{ i + 1 }}.</b>
        <span class="position">
          {{ getPlayerByName(player).position }}
        </span>
        <span class="player-name">
          {{ player }}
        </span>
        @if (!hidePlayerRatings) {
        <span> A:{{ getPlayerByName(player).attackRating }}</span>
        <span> D:{{ getPlayerByName(player).defenceRating }}</span>
        <span> C:{{ getPlayerByName(player).conditionRating }}</span>
        }
      </span>
      }
    </div>
    }
  </div>
  } }
  <div id="repoInfo">
    <a
      class="github-button"
      href="https://github.com/Gnyblast"
      data-color-scheme="no-preference: light; light: light; dark: light;"
      aria-label="Follow @Gnyblast on GitHub"
      >Follow &#64;Gnyblast</a
    >
    <a
      class="github-button"
      href="https://github.com/Gnyblast/Futsal-Team-Builder/subscription"
      data-color-scheme="no-preference: light; light: light; dark: light;"
      data-icon="octicon-eye"
      aria-label="Watch Gnyblast/Futsal-Team-Builder on GitHub"
      >Watch</a
    >
    <a
      class="github-button"
      href="https://github.com/Gnyblast/Futsal-Team-Builder"
      data-color-scheme="no-preference: light; light: light; dark: light;"
      data-icon="octicon-star"
      aria-label="Star Gnyblast/Futsal-Team-Builder on GitHub"
      >Star</a
    >
  </div>
  <br />
  <a href="https://www.buymeacoffee.com/gnyblast" target="_blank"
    ><img
      alt="Buy Me A Coffee"
      height="40"
      width="180"
      src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&slug=gnyblast&button_colour=F44336&font_colour=ffffff&font_family=Cookie&outline_colour=000000&coffee_colour=ffffff"
  /></a>
  <span id="version"> V.{{version}} </span>
</div>
